*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

ul li {
    list-style: none;
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --main-color: rgb(255, 166, 0);
}

::-webkit-scrollbar {
    width: .2em;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #ec7a00;
    border: 0px none var(--main-color);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

 ::-webkit-scrollbar-thumb:active {
    background: #000000;
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    border: 0px none rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

 ::-webkit-scrollbar-track:active {
    background: #ffa200;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    background-image: url('../img/darkgrey-asphalt-3.jpg');
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 5em;
    align-items: center;
    width: 100%;
}

.header_menu {
    height: 5em;
    width: 5em;
    background-size: contain;
}

.img_logo {
    background-image: url('../img/hamster.png');
    margin-right: auto;
}

.img_logo a {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.img_menu {
    background-image: url('../img/menu-up.png');
    position: relative;
}

.drop_menu_ul {
    background-color: rgb(55, 52, 59);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: .1rem solid var(--main-color);
    border-left: .1rem solid var(--main-color);
    z-index: -1;
    display: none;
}

.ac-container {
    list-style: none;
    text-align: center;
    padding: .3rem;
    margin: 0 10rem;
    color: var(--main-color);
    font-weight: bold;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}

.ac-container ul {
    display: none;
}

.ac-container ul li {
    padding: .3rem;
}

.ac-container:hover ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    justify-items: left;
    text-align: left;
    padding: .2rem;
    background-color: #55515a;
    margin-left: -1.2rem;
}

.ac-container:hover {
    text-shadow: 0px 0px 20px var(--main-color);
}

.ac-container:hover ul li {
    text-shadow: none;
}

.ac-container ul li:hover {
    border-bottom: .1rem solid var(--main-color);
    text-shadow: 0px 0px 30px var(--main-color);
}

.img_menu:hover {
    background-image: url('../img/menu-down.png');
}

.img_menu:hover .drop_menu_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: menu-show .8s ease-in-out;
    -webkit-animation: menu-show .8s ease-in-out;
    transition-property: all;
}

@keyframes menu-show {
    0% {
        right: -30rem;
    }
    100% {
        right: 0;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40rem;
    width: 100%;
}

main h1 {
    font-size: 4.5em;
    color: var(--main-color);
    padding: .3em;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 0 #f5f5f5;
}

.header_hr {
    height: .25em;
    margin: .7rem;
    background-color: #fd7709b0;
    border-color: #fd7709b0;
}

.hr_h_one {
    width: 80%;
}

.hr_h_two {
    width: 45%;
}

.main_ru_dd {
    font-size: 2em;
    text-shadow: .05rem .05rem 0 #f5f5f5;
}

.main_ru_dd {
    color: var(--main-color);
    padding: .3em;
}

.main_button {
    border: 1px solid #000;
    padding: .6em;
    margin-top: 5em;
    background-color: var(--main-color);
    font-weight: bold;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section_category {
    background-image: url('../img/bg-1.png');
    -webkit-box-shadow: 0 -0.1rem 0.15rem 0.1rem rgb(208, 208, 208);
    -moz-box-shadow: 0 -0.1rem 0.15rem 0.1rem rgb(208, 208, 208);
    box-shadow: 0 -0.1rem 0.15rem 0.1rem rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.section_category h2 {
    color: var(--main-color);
    font-size: 3em;
    text-shadow: .1rem .1rem 0 #332e34;
}

.list_category {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 3em 0 3em 0;
}

.category_block {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 1em;
}

.inner_block {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: .1rem;
    margin-top: .5rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

.learn_category,
.forum_category,
.code_category {
    width: 100%;
    height: 100%;
}

.learn_category p,
.forum_category p,
.code_category p {
    display: none;
}

.learn_category {
    background-image: url('../img/kisspng-library-child-nati-per-leggere-librarian-reading-cartoon-books-5aa97b88cd0ce5.8381345215210566488399.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.forum_category {
    background-image: url('../img/kisspng-sbi-po-exam-discussion-group-book-discussion-club-praying-group-cliparts-5a7626173328f6.0412763615176924392096.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.code_category {
    background-image: url('../img/transparent-professions-and-jobs-icon-avatar-icon-programmer-i-5fda47be8b3041.5262634416081407345701.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.learn_block hr,
.forum_block hr,
.code_block hr {
    height: .25em;
    margin: .7rem;
    background-color: #fd7709b0;
    border-color: #fd7709b0;
    width: 80%;
}

.learn_category:hover,
.forum_category:hover,
.code_category:hover {
    display: block;
    box-shadow: .05rem .05rem .05rem .05rem var(--main-color), -0.05rem -0.05rem .05rem .05rem var(--main-color), -0.05rem 0.05rem .05rem .05rem var(--main-color), 0.05rem -0.05rem .05rem .05rem var(--main-color);
}

.learn_category:hover p,
.forum_category:hover p,
.code_category:hover p {
    display: block;
    border: 1px solid #000;
    padding: .6em;
    margin-top: 5em;
    background-color: var(--main-color);
    font-weight: bold;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section_help {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list_helps {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 3em 0;
}

.finance_help,
.repost_help,
.idea_help {
    margin: 0 3rem;
}

.section_help h2 {
    color: var(--main-color);
    font-size: 3em;
    text-shadow: .08rem .08rem 0 #f5f5f5;
}

.list_helps p {
    border: 1px solid #000;
    padding: .6em 2em;
    background-color: var(--main-color);
    font-weight: bold;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.call_to_help {
    color: var(--main-color);
    font-size: 1.25em;
    font-weight: bold;
    border: .1em solid var(--main-color);
    border-radius: .5rem;
    padding: .3em;
    margin-bottom: 1.4rem;
    text-shadow: .05rem .05rem 0 #f5f5f5;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.check_mark {
    font-size: 2em;
    color: green;
    text-shadow: .1rem .1rem 0 green;
}

.section_author_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url('../img/bg-1.png');
    width: 100%;
}

.section_author_contacts h2 {
    color: var(--main-color);
    font-size: 3em;
    text-shadow: .1rem .1rem 0 #332e34;
}

.description_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.author_text {
    width: 35rem;
    margin-left: 2rem;
    text-align: left;
}

.contacts p {
    border: 1px solid #000;
    padding: .6em 2em;
    background-color: var(--main-color);
    font-weight: bold;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.author_foto {
    background-image: url('../img/author.jpg');
    width: 15rem;
    height: 15rem;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.github,
.linkedin,
.telegramm {
    margin: 1rem 3rem;
}

footer {
    background-image: url('../img/darkgrey-asphalt-3.jpg');
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.footer_categorys,
.footer_helps,
.footer_contacts {
    margin: 0 2rem;
}

footer ul li {
    list-style: url('../img/pawprint.png');
}

.first_li {
    list-style: none;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
    color: var(--main-color);
    text-shadow: .033rem .033rem 0 #f5f5f5;
}

@media screen and (max-width: 480px) {
    main h1 {
        font-size: 2.5em;
        color: var(--main-color);
        padding: .3em;
    }
    .header_hr {
        height: .2em;
        margin: .4rem;
        background-color: #fd7709b0;
        border-color: #fd7709b0;
    }
    .hr_h_one {
        width: 20rem;
    }
    .hr_h_two {
        width: 15rem;
    }
    .main_ru_dd {
        font-size: 1.5em;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        height: 3em;
        justify-content: space-between;
        align-items: center;
    }
    .drop_menu_ul {
        top: 0;
        right: 0;
    }
    .header_menu {
        height: 3em;
        width: 3em;
        background-size: contain;
    }
    .description_section,
    .author_text {
        word-break: break-word;
    }
    .description_section,
    footer {
        flex-wrap: wrap;
        width: 100vw;
        justify-content: left;
    }
    .first_li {
        text-align: left;
        padding: 1rem;
    }
    .author_foto,
    .author_text {
        margin: auto;
    }
    .author_text {
        margin: .1rem;
    }
    .finance_help,
    .repost_help,
    .idea_help {
        margin: 1rem 3rem;
    }
    .author_text {
        width: 60rem;
        text-align: center;
    }
    .call_to_help {
        width: 100vw;
    }
    .drop_menu_ul {
        background-color: rgb(55, 52, 59);
        position: absolute;
        top: 0;
        right: 0;
        left: -23.5rem;
        border-bottom: .1rem solid var(--main-color);
        border-left: .1rem solid var(--main-color);
        z-index: -1;
        display: none;
    }
    .ac-container {
        display: block;
        list-style: none;
        text-align: center;
        padding: .3rem;
        margin: 0 10rem;
        color: var(--main-color);
        font-weight: bold;
        width: 100vw;
        transition: 0.4s;
        cursor: pointer;
    }
    .ac-container ul {
        display: none;
    }
    .ac-container ul li {
        padding: .3rem;
    }
    .ac-container:hover ul {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding: .2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 600) {}